
---
layout: default
title: Start
---

Här följer lite löpande updateringar om Regin. 
För att läsa igenom världen och reglerna titta i menyn eller <a href="{{site.url}}/{{site.first_page.url}}/">börja med första sidan</a>.
<br/>
<div class="posts">
  {% for post in paginator.posts | sort: title %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Föregående</a>
  {% else %}
    <span class="pagination-item older">Föregående</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Nästa</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Nästa</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Nästa</span>
  {% endif %}
</div>

