---
layout: default
title: Test av föregående/nästa länkar
---

h2>Data från "kosmologi"-sidan</h2>

{% assign link_to_validate = "/kosmologi/" %}  
{% assign link_details_json = include link_details.html link=link_to_validate | jsonify %}

<pre>
call: {{ link_details_json }}
</pre>
  

{% assign link_to_lookup = link_to_validate %} 

link_to_lookup: {{ link_to_lookup }}
{% for p in site.pages %}
  {% if p.url == link_to_lookup %}
    {% assign page_details = p %}
    {% break %}
  {% endif %}
{% endfor %}

<pre>
{
  "url": {{ include.link | jsonify }}
  "pages": {{ page_details | json: 4 }}
}
</pre>