---
layout: default
title: Test av föregående/nästa länkar
---
{% assign doc = "kosmologi" %}
{% assign doc_page = site.pages | find: "path", doc %}<a href="{{ site.baseurl }}/{{ doc_page }}/#content">doc_page ({{ doc_page }}, {{doc}})</a>



<h2>Metod 1: Direkt från toc.yml</h2>

{% for item in site.data.toc %}
  <h3>{{ item.title }}</h3>
  <ul>
    {% for doc in item.docs %}
      {% assign doc_index = forloop.index0 %}

      <li>
        <b>{{ doc }}:</b>

        {% if doc_index > 0 %}
          {% assign prev_doc = item.docs[doc_index - 1] %}
          <a href="{{ site.baseurl }}/{{ prev_doc }}/#content">föregående ({{ prev_doc }})</a>
        {% endif %}

        {% if doc_index < item.docs.size - 1 %}
          {% assign next_doc = item.docs[doc_index + 1] %}
          <a href="{{ site.baseurl }}/{{ next_doc }}/#content">nästa ({{ next_doc }})</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endfor %}

<h2>Metod 2: Använda "kosmologi" som aktuell sida</h2>

{% assign current_url = "kosmologi" %}

{% for item in site.data.toc %}
  <h3>{{ item.title }}</h3>
  <ul>
    {% for doc in item.docs %}
      {% if doc == current_url %}
        {% assign doc_index = forloop.index0 %}

        <li>
          <b>{{ doc }}:</b>

          {% if doc_index > 0 %}
            {% assign prev_doc = item.docs[doc_index - 1] %}
            <a href="{{ site.baseurl }}/{{ prev_doc }}/#content">föregående ({{ prev_doc }})</a>
          {% endif %}

          {% if doc_index < item.docs.size - 1 %}
            {% assign next_doc = item.docs[doc_index + 1] %}
            <a href="{{ site.baseurl }}/{{ next_doc }}/#content">nästa ({{ next_doc }})</a>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endfor %}

<h2>Metod 3: Använda site.pages för att hitta nästa/föregående sida (med "kosmologi" som aktuell sida)</h2>

{% assign current_url = "kosmologi" %}

{% for item in site.data.toc %}
  <h3>{{ item.title }}</h3>
  <ul>
    {% for doc in item.docs %}
      {% assign doc_page = site.pages | where: "url", "/" | where: "name", doc | append: ".md" | first %}
      {% if doc_page %}
        {% if doc == current_url %} 
          {% assign doc_index = forloop.index0 %}
          <li>
            <b>{{ doc }}:</b>

            {% if doc_index > 0 %}
              {% assign prev_doc = item.docs[doc_index - 1] %}
              {% assign prev_doc_page = site.pages | where: "url", "/" | where: "name", prev_doc | append: ".md" | first %}
              <a href="{{ site.baseurl }}/{{ prev_doc }}/#content">föregående ({{ prev_doc_page.title }})</a>
            {% endif %}

            {% if doc_index < item.docs.size - 1 %}
              {% assign next_doc = item.docs[doc_index + 1] %}
              {% assign next_doc_page = site.pages | where: "url", "/" | where: "name", next_doc | append: ".md" | first %}
              <a href="{{ site.baseurl }}/{{ next_doc }}/#content">nästa ({{ next_doc_page.title }})</a>
            {% endif %}
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
{% endfor %}