{% for item in site.data.toc %}
  {% assign current_url = page.url | remove: "/" %}

  <a class="sidebar-nav-item {% for doc in item.docs %}{% if doc == current_url %}active{% endif %}{% endfor %}" href="#">{{ item.title }}</a>
  <ul class="sidebar-nav-submenu">
    {% for doc in item.docs %}
      {% assign doc_page = site.pages | where: "url", "/" | where: "name", doc | append: ".md" | first %}
      {% if doc_page %}
        <li>
          <a href="{{ site.baseurl }}/{{ doc }}/#content">{{ doc_page.title }}</a>
        </li>
      {% else %}
        <li>
          <a href="{{ site.baseurl }}/{{ doc }}/#content">{{ doc }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endfor %}