{% assign current_url = page.url %}
{% assign all_docs = "" | split: "" %}

{% for item in site.data.toc %}
  {% assign all_docs = all_docs | concat: item.docs %}
{% endfor %}

{% assign found_current = false %}
{% for doc in all_docs %}
  {% assign doc_page = site.pages | find: "url", doc %}

  {% if doc_page %}  
    {% if found_current %}
      {% assign next_doc = doc_page %}
      <a class="pagination-item newer next" href="{{ next_doc.url }}#content">{{ doc_page.title }}</a>
      {% break %}
    {% elsif doc == current_url %}
      {% assign found_current = true %}

      {% if prev_doc %}  
        <a class="pagination-item older" href="{{ prev_doc.url }}#content">{{ doc_page.title }}</a>
      {% else %}
        <a class="pagination-item older" href="{{ site.baseurl }}/#content">Välkommen</a>
      {% endif %}
    {% endif %}

    {% assign prev_doc = doc_page %}
  {% endif %}
{% endfor %}