{% assign current_url = page.url | remove: "/" %}
{% assign all_docs = "" | split: "" %}

{% for item in site.data.toc %}
  {% assign all_docs = all_docs | concat: item.docs %}
{% endfor %}

{% assign found_current = false %}
{% for doc in all_docs %}
  {% if found_current %}
    {% assign next_doc = doc %}
    <a class="pagination-item newer next" href="{{ site.baseurl }}/{{ next_doc }}/#content">nästa</a>
    {% break %}
  {% elsif doc == current_url %}
    {% assign found_current = true %}
    <a class="pagination-item older" href="{{ site.baseurl }}/{{ prev_doc }}/#content">föregående</a>
  {% endif %}
  {% assign prev_doc = doc %}
{% endfor %}