{% assign current_url = page.url | remove: "/" %}
{% assign all_docs = "" | split: "" %}

{% for item in site.data.toc %}
  {% assign all_docs = all_docs | concat: item.docs %}
{% endfor %}

{% for doc in all_docs %}
  {% if doc == current_url %}
    {% assign doc_index = forloop.index0 %}
    {% assign docs_size = all_docs | size %}
    
    <div style="display: none;">
      current_url: {{ current_url }}<br>
      doc_index: {{ doc_index }}<br>
      docs_size: {{ docs_size }}<br>
    </div>

    {% if doc_index > 0 %}
      {% assign prev_doc = all_docs[doc_index - 1] %}
      <a class="pagination-item older" href="{{ site.baseurl }}/{{ prev_doc }}/#content">föregående</a>
      <div style="display: none;">prev_doc: {{ prev_doc }}</div>
    {% else %}
      <a class="pagination-item older" href="{{ site.baseurl }}/#content">hem</a>
    {% endif %}

    {% if doc_index < docs_size - 1 %}
      {% assign next_doc = all_docs[doc_index + 1] %}
      <a class="pagination-item newer next" href="{{ site.baseurl }}/{{ next_doc }}/#content">nästa</a>
      <div style="display: none;">next_doc: {{ next_doc }}</div>
    {% else %}
      <a class="pagination-item newer next" href="{{ site.baseurl }}/#content">hem</a>
    {% endif %}
    
    {% break %} 
  {% endif %}
{% endfor %}
